<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="FCKeditor:BasePath" value="~/fckeditor/"/>
    <add key="ExchangeRate" value="10.5"/>
    <add key="NormalMarginRate" value="1.2"/>
    <add key="SaleMarginRate" value="1.3"/>
    <add key="ImageFolderPath" value="D:\UKJieMeiTaoImage\"/>
    <add key="SessionKey" value="6100d24c0307950caba82e5eaad45da31b1f87a3c0c54fb211999340"/>
    <!-->add key="FCKeditor:UserFilesPath" value="~/Files/"/-->
    <add key="TokenUrl" value="https://oauth.tbsandbox.com/token"/>
    <add key="OAuthUrl" value="https://oauth.tbsandbox.com/authorize"/>
    <add key="ServerUrl" value="http://gw.api.tbsandbox.com/router/rest"/>
    <add key="Appkey" value="1021693615"/>
    <add key="Appsecret" value="sandbox23de48a989acaacaf0ca69b86"/>
    <add key="Redirect_uri" value="http://localhost:2823/Login.aspx"/>
  </appSettings>
  <connectionStrings>
    <!-->add name="CatalogConnectionString" connectionString="Data Source=STMA-MAC1\SQLEXPRESS;Initial Catalog=Catalog;Integrated Security=True"
      providerName="System.Data.SqlClient" /-->
    <add name="CatalogConnectionString" connectionString="server=121.196.137.167;database=CateLog;uid=sa;pwd=web123."
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization culture="en-GB"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>