<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITBProductUploadService" sendTimeout="00:59:00" />
                <binding name="BasicHttpBinding_IShopStyleService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8058/TBWCFService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITBProductUploadService"
                contract="TBWCFService.ITBProductUploadService" name="BasicHttpBinding_ITBProductUploadService" />
            <endpoint address="http://localhost:8058/SSWCFService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IShopStyleService"
                contract="SSWCFService.IShopStyleService" name="BasicHttpBinding_IShopStyleService" />
        </client>
    </system.serviceModel>
</configuration>