<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IShopStyleService" 
                         openTimeout="00:59:00" 
                         closeTimeout="00:59:00" 
                         sendTimeout="00:59:00" 
                         receiveTimeout="00:59:00"
                         maxBufferSize="2147483647" 
                         maxBufferPoolSize="2147483647" 
                         maxReceivedMessageSize="2147483647" 
                         />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8058/SSWCFService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IShopStyleService"
                contract="ShopStyleServiceReference.IShopStyleService" name="BasicHttpBinding_IShopStyleService" />
        </client>
    </system.serviceModel>
</configuration>
