<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Server=stma-mac1\sqlexpress;database=Catalog_Backup;User ID=publicguest;Password=Welcome1;Integrated Security=false;"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!--Repository Context & Repositories-->
      <extension type="Interception"/>
      <register type="UKjiemeitao.Domain.Repositories.IRepositoryContext, UKjiemeitao.Domain"
                mapTo="UKjiemeitao.Domain.Repositories.EntityFramework.EntityFrameworkRepositoryContext, UKjiemeitao.Domain.Repositories">
        <lifetime type="UKjiemeitao.Infrastructure.WcfPerRequestLifetimeManager, UKjiemeitao.Infrastructure"/>
      </register>
      <!--Repository Context & Repositories-->
      <register type="UKjiemeitao.Domain.Repositories.ISSBrandRepository, UKjiemeitao.Domain"
                mapTo="UKjiemeitao.Domain.Repositories.SSBrandRepository, UKjiemeitao.Domain.Repositories"/>
      <register type="UKjiemeitao.Domain.Repositories.ISSProductRepository, UKjiemeitao.Domain"
                mapTo="UKjiemeitao.Domain.Repositories.SSProductRepository, UKjiemeitao.Domain.Repositories"/>
      <register type="UKjiemeitao.Domain.Repositories.ISSCategoryRepository, UKjiemeitao.Domain"
                mapTo="UKjiemeitao.Domain.Repositories.SSCategoryRepository, UKjiemeitao.Domain.Repositories"/>
      <register type="UKjiemeitao.Domain.Repositories.ISSRetailerRepository, UKjiemeitao.Domain"
                mapTo="UKjiemeitao.Domain.Repositories.SSRetailerRepository, UKjiemeitao.Domain.Repositories"/>
      <register type="UKjiemeitao.Domain.Repositories.ISSSizeRepository, UKjiemeitao.Domain"
                mapTo="UKjiemeitao.Domain.Repositories.SSSizeRepository, UKjiemeitao.Domain.Repositories"/>
      <register type="UKjiemeitao.Domain.Repositories.ISSImageRepository, UKjiemeitao.Domain"
                mapTo="UKjiemeitao.Domain.Repositories.SSImageRepository, UKjiemeitao.Domain.Repositories"/>
      <register type="UKjiemeitao.Domain.Repositories.ISSProductColorImageMappinRepository, UKjiemeitao.Domain"
                mapTo="UKjiemeitao.Domain.Repositories.SSProductColorImageMappinRepository, UKjiemeitao.Domain.Repositories"/>
      <register type="UKjiemeitao.Domain.Repositories.ISSTBBrandMappingRepository, UKjiemeitao.Domain"
                mapTo="UKjiemeitao.Domain.Repositories.SSTBBrandMappingRepository, UKjiemeitao.Domain.Repositories"/>

    </container>
  </unity>
</configuration>
